.page-contact .text-zone {
    width: 50%;
    z-index: 2;
    background-color: #1d1d1d;
    padding: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 80rem;
}

.section-full .text-zone {
    padding-left: 5rem;
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-form {
    width: 100%;
    padding-top: 5rem;
    display: block;
    position: relative;
}
.contact-form form {
    position: relative;
}

.contact-form form:before {
    content: '<form>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    bottom: 100%;
    left: -1rem;
}

.contact-form ul {
    padding: 0;
    margin: 0;
}

body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.contact-form ul li.half:first-child {
    margin-left: 0;
}

.contact-form ul li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}
.contact-form ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    opacity: 0;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}

.contact-form input[type=text], .contact-form input[type=email] {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.input__label--hoshi:before, .input__label--hoshi:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.input__label--hoshi:after {
    margin-top: 2px;
    border-bottom: 2px solid #08fdd8;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}
.input__label--hoshi-color-2:after {
    border-color: #0fa;
}
.input__label--hoshi:before, .input__label--hoshi:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.contact-form textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
}