.contact-form {
    width: 100%;
    padding-top: 5rem;
    display: block;
    position: relative;
}

.contact-form form {
    position: relative;
}

.contact-form form:before {
    content: '<form>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    bottom: 100%;
    left: -1rem;
}

.contact-form ul li.half:first-child {
    margin-left: 0;
}

.contact-form ul li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}
.contact-form ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    opacity: 0;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.contact-form input[type=text], .contact-form input[type=email] {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    cursor: default;
}