.page-contact .text-zone {
    width: 50%;
    z-index: 2;
    background-color: #1d1d1d;
    padding: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 80rem;
}

.section-full .text-zone {
    padding-left: 5rem;
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}