div .nav_bar {
    cursor: pointer;
  }
  
  div .socials {
    cursor: pointer;
  }
  
  
  /**Nav_bar**/
  
  #nav_bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    min-height: 500px;
  }
  
  *,
  *:after,
  *:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  .logo {
    background: #070707;
    display: block;
    padding: 8px 0;
  }
  
  #nav_bar nav {
    display: block;
    text-align: center;
  }
  
  
  
  #nav_bar nav a.active, #nav_bar nav a:hover {
    color: #08fdd8;
  }
  
  #nav_bar nav a {
    font-size: 20px;
    color: #a5a5a5;
    margin-bottom: 15px;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
  }
  
  [class^=icon-], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #nav_bar nav a i {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    
  }
  
  
  
  #nav_bar nav a:after {
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    line-height: 51px;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    
  }
  
  
  
  
  .flaticon-user:hover::before{
    visibility: hidden;
    
  }
  .flaticon-home:hover::before{
    visibility: hidden;
  }
  .flaticon-envelope:hover::before{
    visibility: hidden;
  }
  .flaticon-book:hover::before{
    visibility: hidden;
  }
  
  
  
  
  [class^="flaticon-"]:before{
    font-family: Flaticon;
    font-size: 20.5px;
    font-style: normal;
    margin-left: 0px;
  }
  
  text{
    font: 300 11px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  
  
  
  
  
  .flaticon-home >text{
    visibility: hidden;
  }
  .flaticon-home:hover >text{
    visibility: visible;
  }
  .flaticon-user >text{
    visibility: hidden;
  }
  .flaticon-user:hover >text{
    visibility: visible;
  }
  .flaticon-book >text{
    visibility: hidden;
  }
  .flaticon-book:hover >text{
    visibility: visible;
    transition: all .3s ease-out;
  }
  .flaticon-envelope >text{
    visibility: hidden;
  }
  .flaticon-envelope:hover >text{
    visibility: visible;
    transition: all .3s ease-out;
  }
  
  text{
    position: absolute;
    font-size: 11px;
    margin-top: 20px;
    left:  0;
    right: 0;
  }
  
  
  
  
  #nav_bar ul {
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0em;
    margin: 0;
    padding-bottom: 20px;
  }
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  
  
  #nav_bar ul li a {
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: #909096;
  }
  
  
  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    
  }
  
  .flaticon-twitter {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .flaticon-facebook-logo {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .flaticon-instagram {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  i:hover{
    color: #08fdd8;
  }
  .flaticon-twitter:before {
    content: "\f10a";
    font-size: 16px;
  }
  .flaticon-instagram:before {
    font-size: 16px;
  }
  .flaticon-facebook-logo:before {
    font-size: 16px;
  }
  
  