.camera {
    width: 100%;
    heigth: 100%;
    background: #0e0e0e;
  }
  .door {
    position: relative;
    width: 100%;
    height: 100vh;
    perspective: 600px;
    overflow: visible;
    transform: rotateX(12deg);
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
  }
  .doorpanel {
    width: 8em;
    height: 12.88em;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
  }
  .doorpanel:nth-child(1) {
    transform: rotateY(0deg);
    -webkit-animation: door1 5s linear infinite;
  }
  .doorpanel:nth-child(2) {
    background: rgb(255, 255, 255);
    transform: rotateY(120deg);
    -webkit-animation: door2 5s linear infinite;
  }

  text{
      text-align: center;
      top
  }
  .doorpanel:nth-child(3) {
    background: rgb(255, 255, 255);
    transform: rotateY(240deg);
    -webkit-animation: door3 5s linear infinite;
  }
  @-moz-keyframes door1 {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes door1 {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @-o-keyframes door1 {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @keyframes door1 {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @-moz-keyframes door2 {
    0% {
      transform: rotateY(120deg);
    }
    100% {
      transform: rotateY(480deg);
    }
  }
  @-webkit-keyframes door2 {
    0% {
      transform: rotateY(120deg);
    }
    100% {
      transform: rotateY(480deg);
    }
  }
  @-o-keyframes door2 {
    0% {
      transform: rotateY(120deg);
    }
    100% {
      transform: rotateY(480deg);
    }
  }
  @keyframes door2 {
    0% {
      transform: rotateY(120deg);
    }
    100% {
      transform: rotateY(480deg);
    }
  }
  @-moz-keyframes door3 {
    0% {
      transform: rotateY(240deg);
    }
    100% {
      transform: rotateY(600deg);
    }
  }
  @-webkit-keyframes door3 {
    0% {
      transform: rotateY(240deg);
    }
    100% {
      transform: rotateY(600deg);
    }
  }
  @-o-keyframes door3 {
    0% {
      transform: rotateY(240deg);
    }
    100% {
      transform: rotateY(600deg);
    }
  }
  @keyframes door3 {
    0% {
      transform: rotateY(240deg);
    }
    100% {
      transform: rotateY(600deg);
    }
  }
  