* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #123752;
    height: 100%;
  }
  #Robot{
    width: 40%;
    height: 400px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #robot {
    position: relative;
    height: 78vh;
    width: 20vh;
    margin: 0 auto;
    -webkit-animation: robot 1.8s infinite ease-in-out;
            animation: robot 1.8s infinite ease-in-out;
    z-index: 2;
  }
  #robot div {
    position: absolute;
    transform-origin: 50% 0;
  }
  #robot .r div {
    background: #29516D;
  }
  #robot .l div {
    background: #326384;
  }
  #robot .leg.r, #robot .arm.l {
    -webkit-animation: trans 1.8s 0.9s infinite ease-in-out;
            animation: trans 1.8s 0.9s infinite ease-in-out;
  }
  #robot .leg.l, #robot .arm.r {
    -webkit-animation: trans 1.8s infinite ease-in-out;
            animation: trans 1.8s infinite ease-in-out;
  }
  #robot .head {
    top: 10vh;
    left: 5vh;
    width: 4.5vh;
    height: 5vh;
    margin: 0 auto;
    transform-origin: 20% 150%;
    -webkit-animation: head 1.8s infinite ease-in-out;
            animation: head 1.8s infinite ease-in-out;
    background: #326384;
  }
  #robot .arm {
    left: 5vh;
    top: 20.5vh;
    width: 4vh;
    height:2.25vh;
  }
  #robot .arm div {
    top: 100%;
    left: 0;
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    transform: rotate(5deg);
    -webkit-animation: arms 1.8s infinite ease-in-out;
            animation: arms 1.8s infinite ease-in-out;
  }
  #robot .arm.l div {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  #robot .leg {
    top: 45vh;
    left: 5vh;
    width: 4vh;
    height: 4vh;
  }
  #robot .leg div {
    width: 100%;
    height: 7.5vh;
    top: 100%;
    -webkit-animation: legs1 1.8s infinite ease-in-out;
            animation: legs1 1.8s infinite ease-in-out;
  }
  #robot .leg div div {
    -webkit-animation: legs2 1.8s infinite ease-in-out;
            animation: legs2 1.8s infinite ease-in-out;
  }
  #robot .leg.r div {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  
  .shadow {
    position: relative;
    width: 22vh;
    height: 3vh;
    margin: 0 auto;
    border-radius: 50%;
    background: #05314f;
    -webkit-animation: shadow 1.8s infinite ease-in-out;
            animation: shadow 1.8s infinite ease-in-out;
    z-index: 1;
  }
  
  /**************************************************************************************/
  @-webkit-keyframes robot {
    0%, 50%, 100% {
      transform: translateY(0vh) rotate(0.2deg);
    }
    15%, 65% {
      transform: translateY(0.15vh) rotate(-0.2deg);
    }
  }
  @keyframes robot {
    0%, 50%, 100% {
      transform: translateY(0vh) rotate(0.2deg);
    }
    15%, 65% {
      transform: translateY(0.15vh) rotate(-0.2deg);
    }
  }
  @-webkit-keyframes trans {
    0%, 100% {
      transform: translateX(0vh);
    }
    50% {
      transform: translateX(1.2vh);
    }
  }
  @keyframes trans {
    0%, 100% {
      transform: translateX(0vh);
    }
    50% {
      transform: translateX(1.2vh);
    }
  }
  @-webkit-keyframes head {
    0%, 100% {
      transform: rotate(-1deg);
    }
    25%, 75% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes head {
    0%, 100% {
      transform: rotate(-1deg);
    }
    25%, 75% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes arms {
    0%, 100% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-10deg);
    }
  }
  @keyframes arms {
    0%, 100% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-10deg);
    }
  }
  @-webkit-keyframes legs1 {
    0%, 100% {
      transform: rotate(10deg);
    }
    45% {
      transform: rotate(-15deg);
    }
  }
  @keyframes legs1 {
    0%, 100% {
      transform: rotate(10deg);
    }
    45% {
      transform: rotate(-15deg);
    }
  }
  @-webkit-keyframes legs2 {
    0%, 100% {
      transform: rotate(2deg);
    }
    33% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes legs2 {
    0%, 100% {
      transform: rotate(2deg);
    }
    33% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes shadow {
    0%, 50%, 100% {
      transform: scale(1.02);
    }
    25%, 75% {
      transform: scale(0.98);
    }
  }
  @keyframes shadow {
    0%, 50%, 100% {
      transform: scale(1.02);
    }
    25%, 75% {
      transform: scale(0.98);
    }
  }
  a {
    color: #326384;
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 5%;
    font-weight: bold;
  }