@font-face {
    src: url(font/coolvetica.ttf);
    font-family: nos;
}

@font-face {
    src: url(font/coolvetica\ condensed\ rg.ttf);
    font-family: nos1;
}

@font-face {
    src: url(font/GrooveNext-.ttf);
    font-family: nos2;
}


div .nav_bar {
    cursor: pointer;
}

div .socials {
    cursor: pointer;
}


/**Nav_bar**/

#nav_bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    min-height: 500px;
}

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.logo {
    background: #070707;
    display: block;
    padding: 8px 0;
}

#nav_bar nav {
    display: block;
    text-align: center;
}

#nav_bar nav a.active, #nav_bar nav a:hover {
    color: #08fdd8;
}

#nav_bar nav a {
    font-size: 20px;
    color: #a5a5a5;
    margin-bottom: 15px;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
}

[class^=icon-], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#nav_bar nav a i {
    -webkit-transition: all .3s ease-out;
    
}



#nav_bar nav a:after {
    content: '';
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.flaticon-user:hover::before{
    visibility: hidden;
}
.flaticon-home:hover::before{
    visibility: hidden;
}
.flaticon-user:hover::before{
    visibility: hidden;
}
.flaticon-user:hover::before{
    visibility: hidden;
}




[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20.5px;
    font-style: normal;
    margin-left: 0px;
}

text{
    font: 300 11px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif;
}



.flaticon-home:hover{
    visibility: hidden;
}

.flaticon-home >text{
    visibility: hidden;
}
.flaticon-home:hover >text{
    visibility: visible;
}
.flaticon-user >text{
    visibility: hidden;
}
.flaticon-user:hover >text{
    visibility: visible;
    transition: all .3s ease-out;
}
.flaticon-book >text{
    visibility: hidden;
}
.flaticon-book:hover >text{
    visibility: visible;
    transition: all .3s ease-out;
}
.flaticon-envelope >text{
    visibility: hidden;
}
.flaticon-envelope:hover >text{
    visibility: visible;
    transition: all .3s ease-out;
}

text{
    position: absolute;
    font-size: 9px;
    margin-top: 27px;
    left:  0;
    right: 0;
    font-weight: 590;
    visibility: hidden;
    transition: all .3s ease-out;
}










.twitter {
    color: rgb(199, 198, 198);
    width: fit-content;
    line-height: 0px;
    margin-top: 230px;
    transition: 0.2s ease-in-out;
}

.twitter:hover {
    color: rgb(73, 246, 252);
    opacity: .9;
}

.instagram li a {
    color: rgb(199, 198, 198);
    display: inline-block;
}

.instagram {
    color: rgb(199, 198, 198);
    width: fit-content;
    line-height: 0px;
    transition: 0.2s ease-in-out;
}

.instagram:hover li a {
    color: rgb(73, 246, 252);
    opacity: .9;
}
.facebook{
    color: rgb(199, 198, 198);
    width: fit-content;
    line-height: 0px;
    transition: 0.2s ease-in-out;
}



.facebook:hover {
    opacity: .9;
    color: rgb(73, 246, 252);
}





.flaticon-twitter {
    line-height: 51px;
    overflow: hidden;
    display: inline-block;
    font-size: 40px;
    height: 37px;
    width: 47px;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased
}

.flaticon-facebook-logo {
    line-height: 51px;
    overflow: hidden;
    display: inline-block;
    font-size: 40px;
    height: 37px;
    width: 47px;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased
}

.flaticon-instagram {
    line-height: 51px;
    overflow: hidden;
    display: inline-block;
    font-size: 40px;
    height: 37px;
    width: 47px;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased
}


html,
body {
    position: relative;
    height: 100%;
    padding: 0px;
}

body {
    background: rgb(0, 0, 0);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    height: 430px;
    padding-top: 10px;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: fit-content;
    max-width: 228.2px;
    background: rgb(30, 30, 30);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

img {
    height: 350px;
    max-width: 100%;
    width: 228.2px;
}

img::selection {
    background: transparent;
    color: azure;
}

h2::selection {
    background: transparent;
    color: azure;
}

.TLA {
    transition: 250ms all;
    margin-left: 375px;
    margin-right: 340px;
    padding-bottom: 200px;
}

.TLA h2 {
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: 500;
    color: aliceblue;
    font-family: nos;
    padding-top: 100px;
}

.css h2 {
    font-family: nos;
    font-weight: 400;
    line-height: 53px;
    font-size: 60px !important;
}

.css h1 {
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
}

h1 {
    color: #8a8888;
    font-family: nos2;
    padding-left: 50px;
    font-size: 13pt;
}

.TLA .swiper-slide:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
    transition-duration: 0.5s;
}

.TLA .swiper-slide:first-child:hover {
    margin: 0 40px;
}

.TLA .swiper-slide:last-child:hover {
    margin: 0 40px;
}

.TLA :nth-child(5):hover {
    margin: 0 -40px;
}

.TLA :nth-child(6):hover {
    margin: 0 40px;
}

.TLA :nth-child(10):hover {
    margin: 0 -40px;
}

.TLA :nth-child(11):hover {
    margin: 0 40px;
}

.TLA :nth-child(15):hover {
    margin: 0 -40px;
}

.TLA :nth-child(16):hover {
    margin: 0 40px;
}

.TLA :nth-child(20):hover {
    margin: 0 -40px;
}

.TLA :nth-child(21):hover {
    margin: 0 40px;
}

.TLA :nth-child(25):hover {
    margin: 0 -40px;
}

.TLA :nth-child(26):hover {
    margin: 0 40px;
}

.TLA :nth-child(30):hover {
    margin: 0 -40px;
}

.TLA :nth-child(31):hover {
    margin: 0 40px;
}

.TLA :nth-child(35):hover {
    margin: 0 -40px;
}

.TLA :nth-child(36):hover {
    margin: 0 40px;
}

.TLA :nth-child(40):hover {
    margin: 0 -40px;
}

.swiper-slide:hover::after {
    padding: 40px;
}

.TLA .body-1 {
    padding: 0 0;
}

.TLA .swiper-slide:last-child:hover {
    margin: 0 -40px;
}

div .swiper-button-prev {
    color: azure;
    margin-right: 20px;
}

div .swiper-button-next {
    color: azure;
    margin-left: 20px;
}

div .swiper-button-next::after {
    margin-left: 23px;
}

div .swiper-button-prev::after {
    margin-right: 23px;
}

div.animation {
    height: 60vh;
    margin-left: 65px;
}

div.css {
    width: auto;
    height: 60vh;
    min-height: 350px;
    margin: 0;
    position: relative;
    background-color: #111;
    background-image: linear-gradient(to top, rgb(30, 30, 30) 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #222, #2e2e2e 5%, transparent 5%), linear-gradient(to right, transparent 6%, #222 6%, #2e2e2e 9%, transparent 9%), linear-gradient(to right, transparent 27%, #222 27%, #2e2e2e 34%, transparent 34%), linear-gradient(to right, transparent 51%, #222 51%, #2e2e2e 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #222 42%, #2e2e2e 44%, transparent 44%), linear-gradient(to right, transparent 45%, #222 45%, #2e2e2e 47%, transparent 47%), linear-gradient(to right, transparent 48%, #222 48%, #2e2e2e 50%, transparent 50%), linear-gradient(to right, transparent 87%, #222 87%, #2e2e2e 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #222 14%, #2e2e2e 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #222 10%, #2e2e2e 13%, transparent 13%), linear-gradient(to right, transparent 21%, #222 21%, #1a1a1a 25%, transparent 25%), linear-gradient(to right, transparent 58%, #222 58%, #2e2e2e 64%, transparent 64%), linear-gradient(to right, transparent 92%, #222 92%, #2e2e2e 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #222 96%, #1a1a1a 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #222 35%, #2e2e2e 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #333 78%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 83%, transparent 83%), linear-gradient(to right, transparent 66%, #222 66%, #2e2e2e 85%, transparent 85%);
    background-size: 300px 150px;
    background-position: center bottom;
}

div.css:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111;
    background-image: linear-gradient(to top, #d2b48c 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #b22222, #871a1a 5%, transparent 5%), linear-gradient(to right, transparent 6%, #ff6347 6%, #ff3814 9%, transparent 9%), linear-gradient(to right, transparent 27%, #556b2f 27%, #39481f 34%, transparent 34%), linear-gradient(to right, transparent 51%, #fa8072 51%, #f85441 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #008080 42%, #004d4d 44%, transparent 44%), linear-gradient(to right, transparent 45%, #008080 45%, #004d4d 47%, transparent 47%), linear-gradient(to right, transparent 48%, #008080 48%, #004d4d 50%, transparent 50%), linear-gradient(to right, transparent 87%, #789 87%, #4f5d6a 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #bdb76b 14%, #989244 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #808000 10%, #4d4d00 13%, transparent 13%), linear-gradient(to right, transparent 21%, #8b4513 21%, #5e2f0d 25%, transparent 25%), linear-gradient(to right, transparent 58%, #8b4513 58%, #5e2f0d 64%, transparent 64%), linear-gradient(to right, transparent 92%, #2f4f4f 92%, #1c2f2f 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #2f4f4f 96%, #1c2f2f 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #cd5c5c 35%, #bc3a3a 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #bc8f8f 78%, #bc8f8f 80%, transparent 80%, transparent 82%, #bc8f8f 82%, #bc8f8f 83%, transparent 83%), linear-gradient(to right, transparent 66%, #a52a2a 66%, #7c2020 85%, transparent 85%);
    background-size: 300px 150px;
    background-position: center bottom;
    clip-path: circle(150px at center center);
    animation: flashlight 5000ms infinite;
}

div.css:after {
    content: '';
    width: 25px;
    height: 10px;
    position: absolute;
    left: calc(50% + 59px);
    bottom: 100px;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, #fff 50%, transparent 50%), radial-gradient(circle, #fff 50%, transparent 50%);
    background-size: 10px 10px;
    background-position: left center, right center;
    animation: eyes 5000ms infinite;
}

@-moz-keyframes flashlight {
    0%,
    9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%,
    15%,
    85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%,
    100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes flashlight {
    0%,
    9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%,
    15%,
    85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%,
    100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@-o-keyframes flashlight {
    0%,
    9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%,
    15%,
    85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%,
    100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@keyframes flashlight {
    0%,
    9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%,
    15%,
    85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%,
    100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@-moz-keyframes eyes {
    0%,
    52% {
        opacity: 0;
    }
    53%,
    87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes eyes {
    0%,
    52% {
        opacity: 0;
    }
    53%,
    87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@-o-keyframes eyes {
    0%,
    52% {
        opacity: 0;
    }
    53%,
    87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%,
    100% {
        opacity: 0;
    }
}

@keyframes eyes {
    0%,
    52% {
        opacity: 0;
    }
    53%,
    87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%,
    100% {
        opacity: 0;
    }
}

.hometext {
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}